body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#agregarTarea, #eiminarTarea {
    display: flex;
    margin-bottom: 20px;
}

#nuevaTarea {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
}

#agregarTarea button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
#eiminarTarea button {
    padding: 10px 15px;
    background-color: rgb(155, 40, 40);
    color: white;
    border: none;
    cursor: pointer;
}

#listaTareas {
    list-style: none;
    padding: 0;
}

#listaTareas li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#listaTareas li.completada {
    text-decoration: line-through;
}
